BOT_TOKEN=
ADMIN_IDS=123456,789012
CHANNEL_USERNAME=@yourchannel
OFFER_URL=https://teletype.in/@yourprofile/offer
SUPPORT_URL=https://t.me/your_support_bot
REVIEWS_URL=https://t.me/your_reviews_channel
CRYPTO_BOT_TOKEN=
LOLZ_TOKEN=
LOLZ_PROFILE=https://lolz.live/members/your_id/
